@model Store.BusinessLogicLayer.Models.EditionModel.PrintingEditionModel
@{
    Layout = "~/_Layout.cshtml";
}

@section AddToHead
{
    <link href="~/Styles/ManagementStyleSheet.css" rel="stylesheet" type="text/css" />
}
@{
    <div class=mainContent>
        <h2>Edition profile:</h2>
        <form class="stardart-font" asp-controller="EditionsManagement" asp-action="UpdateEdition">
            <div class="form-group">
                <label asp-for="Id " class="control-label">ID</label>
                <input type="text" disabled="disabled" value="@Model.Id" class="form-control stardart-font from-query" />
                <input type="text" hidden="hidden" asp-for="Id" />
            </div>

            <div class="form-group">
                <label asp-for="DateOfCreation" class="control-label">Created at: </label>
                <input type="text" disabled="disabled" asp-for="DateOfCreation" class="form-control stardart-font from-query" />
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input type="text" disabled="disabled" asp-for="Title" class="form-control stardart-font from-query" />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Discription</label>
                <input type="text" disabled="disabled" asp-for="Description" class="form-control stardart-font from-query" />
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                <input type="text" disabled="disabled" asp-for="Status" class="form-control stardart-font from-query" />
            </div>

            <div class="form-group">
                <label asp-for="EditionType" class="control-label">Type</label>
                <input type="text" disabled="disabled" asp-for="EditionType" class="form-control stardart-font from-query" />
            </div>

            <div class="form-group">
                <label asp-for="Currency" class="control-label">Currency</label>
                <input type="text" disabled="disabled" asp-for="Currency" class="form-control stardart-font from-query" />
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input type="text" disabled="disabled" asp-for="Price" class="form-control stardart-font from-query" />
            </div>

            <a>Authors:</a>
            <select style="font-size: 16px" id="author">

                @foreach (Store.BusinessLogicLayer.Models.Authors.AuthorModel author in Model.AuthorModels)
                {
                    <option value="@author.Id" class="from-query">@author.Name</option>
                }
            </select>
            <input class="button" type="button" value="Open author profile" onclick="goToAuthorProfile();" /><br>
            <input type="button" value="Update" class="btn btn-default button" onclick="update(@Model.Id);" />
        </form>
    </div>
}
@section scripts{
    <script>
        function goToAuthorProfile()
        {
            var id = document.getElementById("author").value;
            return window.location.href = '@Url.Action("GetAuthorProfile", "AuthorsManagement")?Id=' + id;
        }

        function update(id) {
            return window.location.href = '@Url.Action("UpdateEdition", "EditionManagement")?id=' + id;
        }
    </script>
}
